@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

// Colours //
// Primary
$pink: hsl(322, 100%, 66%);
$l-pink: hsl(321, 100%, 78%);
$l-red: hsl(0, 100%, 63%);

// Neutral
$cyan: hsl(192, 100%, 9%);
$blue: hsl(207, 100%, 98%);

// Fonts //
$open: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
